body {
    color: #333333;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
    line-height: 1.6;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #2f4f4f;
    color:#f0f8ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px 0;
    text-align: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

header h1{
    font-size: 40px;
    margin: 0;
}

nav {
    background-color: #003300;
    text-align: center;
    padding: 12px 0;
}

nav a {
    text-decoration: none;
    color: #f0f8ff;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

nav a:hover {
    color: #00ffcc;
    text-decoration: underline;
}

section {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
}

section h2 {
    color: #008000;
    font-size: 30px;
    margin-bottom: 14px;
}

.div1, .div2, .div3, .div4 {
    padding: 15px;
    border-radius: 8px;
    background-color: #e6fff9;
    margin:10px 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    padding: 20px;
}

#gallery img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
    
h3 {
    color: #003300;
    font-size: 26px;
    margin-bottom: 10px;
}

form {
    max-width: 600px;
    margin:24px auto;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

form input,form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form input:focus, form textarea:focus {
    border-color: #008000;
    outline: none;
}

form button {
    background-color: #008000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #006400;
}

form button:active {
    background-color: #004d00;
}

footer {
    background-color: #2f4f4f;
    color: #f0f8ff;
    text-align: center;
    padding: 12px 0;
    margin-top: 20px;
}


    


    
    


    
